<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <!-- <link href="/css/withbooks/css/reset.css" type="text/css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <link href="/css/withbooks/css/components/layout.css" type="text/css" rel="stylesheet" />
    <link href="/css/components/header.css" type="text/css" rel="stylesheet" />
    <link href="/css/components/menu-bar.css" type="text/css" rel="stylesheet" />
    
    <link href="/css/withbooks/css/with/freeboard.css" type="text/css" rel="stylesheet" />
    <link href="/css/withbooks/css/font.css" type="text/css"rel="stylesheet" >
    <link href="/css/icon.css" type="text/css" rel="stylesheet" />
    <link href="/css/withbooks/css/util.css" type="text/css" rel="stylesheet" /> -->

        <link href="/css/reset.css" type="text/css" rel="stylesheet" />
        <link href="/css/style.css" type="text/css" rel="stylesheet" />
        <link href="/css/font.css" type="text/css" rel="stylesheet" />
        <link href="/css/components/layout.css" rel="stylesheet" />
        <link
            href="/css/component/header.css"
            type="text/css"
            rel="stylesheet"
        />
        <link
            href="/css/component/main-menu.css"
            type="text/css"
            rel="stylesheet"
        />
        <link href="/css/with/freeboard.css" type="text/css" rel="stylesheet" />
        <link href="/css/component/icon.css" type="text/css" rel="stylesheet" />
        <link href="/css/util/util.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <header class="header">
            <h1 class="font-family-sans font-weight-bold font-size-5">
                위드 게시판
            </h1>
            <div>
                <a class="icon icon-alert" href="">알림</a>
            </div>
        </header>

        <main>
            <section class="sort-box">
                <h1 class="d-none">정렬하기</h1>

                <div class="sort-box-level">
                    <a href="#" class="level-1">최신순</a>
                    <span>|</span>
                    <a href="#" class="level-2">인기순</a>
                </div>

                <div class="sort-box-shape">
                    <a href="#" class="icon icon-sort-card sort-card">카드형</a>
                    <a href="#" class="icon icon-sort-list sort-list">목록형</a>
                </div>
            </section>

            <hr />
            <section class="board-list">
                <h1 class="d-none">게시판 리스트</h1>

                <div>
                    <section class="profile-list">
                        <h1 class="d-none">작성자 정보</h1>

                        <div class="profile-img">
                            <img
                                src="/imgs/book/profile.png"
                                alt="프로필사진"
                                class="icon icon-profile"
                            />
                        </div>
                        <div class="profile-detail-list">
                            <div class="profile-nick-level">
                                <div>뉴렉이</div>
                                <div>Lv.4</div>
                                <div>열매</div>
                            </div>
                            <div class="profile-time">10분전</div>
                        </div>
                    </section>

                    <section>
                        <h1 class="d-none">게시글 메뉴</h1>

                        <div class="d-none"><a href="">버튼</a></div>
                    </section>

                    <section class="board-detail-list">
                        <h1 class="d-none">게시글 정보</h1>

                        <div class="board-title">푸바오 신간 샀어요 !!</div>
                        <div class="board-content">
                            오늘 교보문고 가니까 입구에 딱!!! 있더라구요!!!
                            어어쩌고 저쩌고
                            ㄴ으미능마니읜읨나음니ㅏ으미나으미느아미느이ㅏㅓㅎ호ㅓ로로ㅓ허ㅏㅗㅗㅓ
                        </div>
                        <div class="board-img">
                            <img src="/imgs/book/a5.png" alt="게시글 사진" />
                        </div>

                        <div class="feedback-list">
                            <div class="board-like">
                                <a href="#" class="icon icon-like"
                                    >좋아요 아이콘</a
                                >
                                <span>13</span>
                            </div>
                            <div class="board-coment">
                                <a href="#" class="icon icon-coment"
                                    >댓글 아이콘</a
                                >
                                <span>13</span>
                            </div>
                        </div>
                    </section>

                    <span></span>
                </div>

                <div>
                    <section class="profile-list">
                        <h1 class="d-none">작성자 정보</h1>

                        <div class="profile-img">
                            <img
                                src="/imgs/book/profile.png"
                                alt="프로필사진"
                                class="icon icon-profile"
                            />
                        </div>
                        <div class="profile-detail-list">
                            <div class="profile-nick-level">
                                <div>뉴렉이</div>
                                <div>Lv.4</div>
                                <div>열매</div>
                            </div>
                            <div class="profile-time">10분전</div>
                        </div>
                    </section>

                    <section>
                        <h1 class="d-none">게시글 메뉴</h1>

                        <div class="d-none"><a href="">버튼</a></div>
                    </section>

                    <section class="board-detail-list">
                        <h1 class="d-none">게시글 정보</h1>

                        <div class="board-title">푸바오 신간 샀어요 !!</div>
                        <div class="board-content">
                            오늘 교보문고 가니까 입구에 딱!!! 있더라구요!!!
                            어어쩌고 저쩌고
                            ㄴ으미능마니읜읨나음니ㅏ으미나으미느아미느이ㅏㅓㅎ호ㅓ로로ㅓ허ㅏㅗㅗㅓ
                        </div>
                        <div class="board-img">
                            <img src="/imgs/book/a5.png" alt="게시글 사진" />
                        </div>

                        <div class="feedback-list">
                            <div class="board-like">
                                <a href="#" class="icon icon-like"
                                    >좋아요 아이콘</a
                                >
                                <span>13</span>
                            </div>
                            <div class="board-coment">
                                <a href="#" class="icon icon-coment"
                                    >댓글 아이콘</a
                                >
                                <span>13</span>
                            </div>
                        </div>
                    </section>

                    <hr />
                </div>
            </section>
        </main>

        <aside>
            <h1 class="d-none">새 게시글 작성</h1>

            <div><a href="">버튼</a></div>
        </aside>

        <nav class="main-menu-bar">
            <h1 class="d-none">메인메뉴목록</h1>
            <ul class="main-menu-bar-list">
                <li>
                    <a
                        class="icon icon-mywith icon-position-top font-family-sans font-weight-bold font-size-1 text-rest del-underline"
                        href=""
                        >마이위드</a
                    >
                </li>
                <li>
                    <a
                        class="icon icon-booklog icon-position-top font-family-sans font-weight-bold font-size-1 text-rest del-underline"
                        href=""
                        >북로그</a
                    >
                </li>
                <li><a class="icon icon-home" href="">홈</a></li>
                <li>
                    <a
                        class="icon icon-search icon-position-top font-family-sans font-weight-bold font-size-1 text-rest del-underline"
                        href=""
                        >책 검색</a
                    >
                </li>
                <li>
                    <a
                        class="icon icon-mybook icon-position-top font-family-sans font-weight-bold font-size-1 text-rest del-underline"
                        href=""
                        >내 서재</a
                    >
                </li>
            </ul>
        </nav>
    </body>
</html>
