main {
    /* height: 100%; */
    /* margin: 16px 16px 60px 16px; */
}

.sort-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .sort-box-level {
        .level-1:focus:not(:active) {
            color: #0005;
        }

        .level-2:focus:not(:active) {
            color: #0005;
        }
    }

    .sort-box-shape > a {
        display: inline-block;
        height: 14px;
        width: 14px;
    }

    .sort-card:focus:not(:active) {
        /* background-color: #0005; */
    }

    .sort-list:focus:not(:active) {
        /* background-color: #0005; */
    }
}

.profile-list {
    display: flex;
    align-items: center;
    height: 50px;

    .profile-img {
        border: 1px solid #0002;
        border-radius: 20px;
        margin-right: 6px;

        img {
            border-radius: 20px;
            height: 50px;
            width: 50px;
        }
    }
    .profile-detail-list {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    .profile-nick-level {
        display: flex;
        margin-bottom: 4px;

        div:first-child {
            margin-right: 6px;
        }
        div:nth-child(2) {
            margin-right: 2px;
        }
    }

    /* .profile-nick-level > div:first-child {
        margin-right: 6px;
    } */

    .profile-time {
        margin-top: 4px;
    }
}

.board-list {
    margin-top: 10px;
}

.board-detail-list {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    .board-title {
        font-weight: bold;
        margin: 10px 0 10px 0;
    }

    .board-content {
    }
    .board-img {
        display: flex;
        width: 100%;
        justify-content: center;

        border: 1px solid #0003;
        border-radius: 20px;
        padding: 8px 0 8px 0;
    }
    .board-img > img {
        height: 205px;
        width: 160px;
    }

    .feedback-list {
        display: flex;
        text-align: center;
        margin: 10px 0 10px 0;
    }

    .board-like {
        display: flex;
        align-items: center;
        margin-right: 14px;

        a {
            display: inline-block;
            height: 17px;
            width: 18px;
            margin-right: 4px;
        }
    }

    .board-coment {
        display: flex;
        align-items: center;
        margin-right: 14px;

        a {
            display: inline-block;
            height: 17px;
            width: 18px;
            margin-right: 4px;
        }
    }

    hr {
        color: #0001;
    }
}
