:root {
    --size-1: 12px;
    --size-2: 14px;
    --size-3: 15px;
    --size-4: 16px;
    --size-5: 18px;
    --size-6: 20px;
}

<<<<<<< HEAD
main {
    /* padding-bottom: 64px; */
    /* height: 100%; */
=======
main{
padding-bottom: 64px;
height: 100%;
padding: 0px 20px;
>>>>>>> branch 'main' of https://github.com/muller02/withbooks_maven.git
}

html {
    height: 100%;
}
body {
    height: 100%;
<<<<<<< HEAD
}
=======

}

>>>>>>> branch 'main' of https://github.com/muller02/withbooks_maven.git
