:root{
	--size-1:10px;
    --size-2:12px;
    --size-3:14px;
    --size-4:16px;
    --size-5:18px;
    --size-6:20px;
}

main{
padding: 0 20px 64px 20px;
height: 100%;

}

html{
    height: 100%;
}


