<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/component/main-menu.css" />
    <link rel="stylesheet" href="/css/util/util.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/style.css" />
<!--   
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/newtil-css@latest/dist/style.css" /> -->

    <link rel="stylesheet" href="/css/component/icon.css" />
</head>
<body>
    

    
    <nav class="main-menu-bar">
        <h1 class="d-none">메인메뉴목록</h1>
        <ul class="main-menu-bar-list">
            <li><a class="icon icon-mywith icon-position-top font-family-sans font-weight-bold font-size-1 text-rest del-underline" href="">마이위드</a></li>
            <li><a class="icon icon-booklog icon-position-top  font-family-sans font-weight-bold font-size-1  text-rest del-underline" href="">북로그</a></li>
            <li><a class="icon icon-home" href="">홈</a></li>
            <li><a class="icon icon-search icon-position-top  font-family-sans font-weight-bold font-size-1  text-rest del-underline" href="">책 검색</a></li>
            <li><a class="icon icon-mybook icon-position-top  font-family-sans font-weight-bold font-size-1  text-rest del-underline" href="">내 서재</a></li>
        </ul>
    </nav>
</body>
</html>