.main-menu-bar{
    position: fixed;
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 63px;
    bottom: 0;

    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 0px 20px;
}

    .main-menu-bar-list{
        display: flex;
        width: 100%;
        height: 100%;

        justify-content: space-around;
        align-items: center;
    }


/* ----------------main-menu-bar----------------- */

.main-menu-bar .icon{
    display: inline-block;
    height: 14px;

     
    box-sizing: border-box;
    padding-top: 28px;
}


.main-menu-bar li:nth-child(3)>a{
    padding-top: 0px;
    width: 52px;
    height: 48px;
}


