.header{
    position: sticky;
    display: flex;
    height: 60px;

    background-color: #fff;

    align-items: center;

  

    top: 0;
<<<<<<< HEAD
	
=======
    justify-content: center;

>>>>>>> branch 'main' of https://github.com/muller02/withbooks_maven.git
    z-index: 1;
    
    flex-shrink: 0;
}

   
   
    
/* ========================content-box=========== */

/* ---------------------header----------------- */


.header div{
    position: absolute;

    right:4px;
}
.header .icon-alert{
    display: inline-block;
    width: 32px;
    height: 32px;
 
   
}