<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/component/header.css" />
    <link rel="stylesheet" href="/css/component/icon.css" />

</head>
<body>
    <header class="header">
        <h1 class="font-family-sans font-weight-bold font-size-5">책 상세</h1>
        <div><a class="icon icon-alert" href="">알림</a></div>
    </header>



</body>
</html>